body {
  height: 100%;
}

.genealogical-tree {
  position: fixed;
  border: 1px solid black;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 60px);
  overflow: scroll;
}

.gtree-container {
  border: 1px solid black;
  height: calc(100% - 180px);
  overflow: scroll;
  left: 10px;
  width: calc(100% - 20px);
  position: fixed;
}
